<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item is-paddingless" href="{{ site.url }}">
      palokangas.github.io
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMain">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarMain" class="navbar-menu">
    <div class="navbar-start">

  </div>

    <div class="navbar-end">
      {% for item in site.data.navigation %}
          <a href="{{ item.link }}" class="navbar-item{% if page.url == item.link %} is-primary{% endif %}">
            {{ item.name }}
          </a>
      {% endfor %} 
    </div>

    </div>
</nav>